.informação-bg {
    background-color: #0f0e0e;
}

.information {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.information h1 {
    text-align: center;
    color: #b4a90d;
}

.information p {
text-align: center;
}

.information-one,
.information-two,
.information-tree {
max-width: 600px;
margin: 0px 16px;
margin-top: 28px;
border-width: 1px;
border-style:none;
border-radius: 4px;
border-color: #2d2419;
box-shadow: 0 0 15px #c9bd19;
padding:10px;
}
