.information-bg {
    background: linear-gradient( rgba(132, 132, 10, 0.36), #1c1515);
}

.information {
    box-sizing: border-box;
    display: grid;
    gap: 24px;
    max-width: 1200px;
    justify-content: center;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.information h1 {
    text-align: center;
    color: #b4a90d;
}

.information p {
text-align: center;
}

.information-one,
.information-two,
.information-tree {
max-width: 600px;
margin: 0px 16px;
margin-top: 28px;
border-style:none;
border-radius: 4px;
box-shadow: 0 0 15px #171715;
padding:10px;
margin-bottom: 60px;
}
