
.imangem {
    text-align: center;
}
.botao {
    text-align: center;
}

.information {
    box-sizing: border-box;
    display: grid;
    max-width: 1200px;
    justify-content: center;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.information h1 {
    text-align: center;
    color:var(--yellow_01) ;
}

.information p {
text-align: center;
}

.information-one,
.information-two,
.information-tree {
max-width: 600px;
margin-bottom: 20px;
}
@media (max-width: 600px) {
.information-one,
.information-two,
.information-tree {
margin-top: 8px;
padding:10px;
margin-bottom: 10px;
}
.imangem img {
    width: 180px;
    height: 180px;
}
}
