.conteiner-bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.344), rgba(132, 132, 10, 0.36)), url('../img/pngegg.png');
    box-sizing: border-box;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.conteiner {
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    max-width: 600px;
    padding: 160px 0 0 0;
    margin-left: 40px;
}
.first-paragraph {
    font-size: 1.3em;
}
.separation {
    margin-bottom: 20px;
}