body {
    background-color: rgb(5, 5, 34);
    font-family: "Fira Sans", Arial, sans-serif;
    margin: 0px;
    color: rgb(254, 234, 234);
    padding: 0px;
  }
  .marca {
    color: blue;
  }
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  p,
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.header-item {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
}

.imangem {
  background-image: url("https://th.bing.com/th/id/OIP.qZvTF_1bM0vnyyEIUNIGjAHaCd?pid=ImgDet&rs=1");
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-repeat: no-repeat;
  background-size: 1200px;
  display: flex;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.cadastro {
  color: black;
  text-align: right;
  padding-top: 50px;
  padding-bottom: 100px;
}
.cadastr {
  line-height: 3rem;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.botao {
  color: rgb(255, 0, 0);
}
.botaog {
  text-align: center;
  padding:10px;
  border-radius: 4px;
  text-transform: uppercase;
  width: 180px;
}
.botaog:hover {
  background: rgb(0, 125, 153);
}
.mtd {
  color: blue;
}


.conteudo {
  background: url(".../img/detalhe.svg") no-repeat center;
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.titulo {
  line-height: 4rem;
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.Sobre {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}




.footer-bg {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-contato li:nth-child(2)::after,
.footer-contato li:nth-child(4)::after {
  content: "";
  display: block;
  max-width: 360px;
  background: var(--cor-11);
  height: 2px;
  margin-top: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1 / -1;
  margin-top: 40px;
}



/* Introdução

  .introducao {
    background-color: #170000;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
  }

  .introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
  }

  .introducao p {
    font-size: 1.5rem;
    color: white;
  }


  a {
    text-decoration: none;
  }

  .botaogrande {
    margin-top: 50px;
  }
  


  .introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
  }

  .objectivos {
    background-color: #170000;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
  }
  .subtitulo {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgba(229, 215, 215, 0.2);
    text-align: left;
    padding: 40px;
    align-self: center;
  }

  .paragrafo {
    padding: 10px 40px;
  }
  .paragrafos {
    padding: 10px 40px;
  }

  .objectivos-item {
    background-color: black;
    padding: 40px;
  }
  .items {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0px 20px;
    padding: 20px;
    border-left: 4px solid transparent;
  }

  .items:nth-child(odd) {
    background: #232222;
  }
  
  .items:hover {
    border-color: rgb(46, 17, 238);
  }
  
  .items p {
    grid-column: 2;
  }





 